//- (c)copyright 2015 by Gerald Wodni <gerald.wodni@gmail.com>
//- complete crud
mixin crud( opts )
    +script("/js/crud.js")
    each script in opts.scripts
        +script(script)
    div.row
        if opts.showList
            div.crud-items(class=opts.startExpanded?"":"col-sm-4")
                h2= __("Items")
                block crudList
                    +crudList( opts )
        div.crud-fields(class=(opts.startExpanded || !opts.showList)?"":"col-sm-8")
            if opts.values
                block crudPreEditItem
                block crudEditItem
                    +crudEdit( opts )
            else if opts.showAdd
                +crudAdd( opts )
            else
                div.col-sm-12
                    h3= __("Adding of new items disabled")


//- item selection list
mixin crudList( opts )
    - opts.idField = opts.idField || "id";
    ul.list-group.crud-list
        li.list-group-item.crud-search
            div.input-group
                input.form-control(type="text",name="search",placeholder=__( "Search" ))
                span.input-group-btn
                    button.btn.btn-default.crud-show-all(type="button",title=__( "Show All" ))
                        +glyph("eye-open")
                    button.btn.btn-default.crud-expand(type="button",title=__( "Expand" ))
                        +glyph("chevron-right")
                        +glyph("chevron-left")
        if opts.showAdd
            li.list-group-item.crud-new
                = __("New")
                a.btn.btn-primary(href=opts.link).btn-xs.pull-right
                    +glyph("plus")
        each item in opts.items || []
            li.list-group-item.crud-item.clearfix
                a.btn.btn-default(href=opts.link + "/edit/#{item[opts.idField]}").btn-xs.pull-right
                    +glyph("pencil")
                block crudListItem
                    if opts.boldDisplay
                        b= getField( item, opts.boldDisplay )
                        |  
                    if opts.display
                        = getField( item, opts.display )


//- standard fields
mixin crudFields( opts )
    - opts.values = opts.values || {}
    each field, name in opts.fields || {}
        - var label = field.label || __( field.text )
        if field.mixinType == "foreign-field"
            +foreign-field( name, label, field.items, opts.values[ name ], field )
        else if field.mixinType == "enum-field"
            +enum-field( name, label, field.keyValues, opts.values[ name ] )
        else if field.mixinType == "h3"
            h3= label
        else if field.mixinType == "h4"
            h4= label
        else
            +#{field.mixinType}( name, label, opts.values[ name ], field )


//- edit form
mixin crudEdit( opts )
    form.crud-edit(method="post",role="form",enctype=opts.enctype)
        h2
            = " " + __("Change")
            +glyph("pencil", "pull-right")

        +crudFields( opts )

        button.btn.btn-primary(type='submit',name='update',value='yes')= __("Change")
    form(method="post",action=opts.link,class="deleteWrapper")
        button.btn.btn-danger.pull-right(type='submit',name='delete',value='#{opts.values[opts.idField]}')= __("Delete")


//- add form
mixin crudAdd( opts )
    form.crud-add(method='post',role='form',action=opts.formAction)
        h2#crud-add-header
            +glyph("plus", "pull-right")
            = " " + __("Add")
        +crudFields( opts )
        button.btn.btn-primary(type='submit',name='add',value='yes')= __("Add")
