- var scriptSources = [];
- var scriptModules = [];
- var styleSources = [];
- var usedScripts = []
- var usedStyles = []

//- add script to required script stack
mixin script(src)
    - scriptSources.push( src );

mixin script-module(src)
    - scriptModules.push( src );

mixin script-tag(scriptSource)
    script(type='text/javascript',src='#{scriptSource}')

mixin script-module-tag(scriptSource)
    script(type='module',src='#{scriptSource}')

mixin script-json( id, obj )
    script(type="application/json",id=id)&attributes(attributes)
        != JSON.stringify( obj )

//- include every required script exactly once
mixin scripts()
    each scriptSource in scriptSources
        if usedScripts.indexOf( scriptSource ) == -1
            - usedScripts.push( scriptSource )
            +script-tag(scriptSource)
    each scriptModule in scriptModules
        if usedScripts.indexOf( scriptModule ) == -1
            - usedScripts.push( scriptModule )
            +script-module-tag(scriptModule)

mixin style(href)
    - styleSources.push( href );

mixin style-tag(styleSource)
    link(rel='stylesheet', type='text/css' href='#{styleSource}')

mixin styles()
    each styleSource in styleSources
        if usedStyles.indexOf( styleSource ) == -1
            - usedStyles.push( styleSource );
            +style-tag(styleSource)

mixin favicon(path)
    link(rel="icon",href=path)

mixin _field(name,type,value)
    input.form-control(type=type,name=name,value=value)&attributes(attributes)

mixin field(name,type,label,value,opts)
    - var attrs = _.extend(attributes || {}, (opts && opts.attributes) ? opts.attributes : {});
    div.form-group
        label= label
        if opts && opts.inputGroup && ( opts.inputGroup.type != "href" || value )
            div.input-group
                +_field(name,type,value)&attributes(attrs)
                - var groupType = opts.inputGroup.type || "button"
                if groupType == "button"
                    span.input-group-btn
                        button.btn.btn-default(type="button",title=__(opts.inputGroup.title))
                            if( opts.inputGroup.fa )
                                +fa(opts.inputGroup.fa)
                            else
                                +glyph(opts.inputGroup.glyph)
                else if groupType == "href" && value
                    span.input-group-btn
                        a.btn.btn-default(href=value,target="_blank",title=__(opts.inputGroup.title))
                            +glyph(opts.inputGroup.glyph)
        else
            +_field(name,type,value)&attributes(attrs)

mixin text-field(name, label, value, opts)
    +field(name, 'text', label, value, opts)&attributes(attributes)

mixin email-field(name, label, value, opts)
    +field(name, 'email', label, value, opts)&attributes(attributes)

mixin number-field(name, label, value, opts)
    +field(name, 'number', label, value, opts)&attributes(attributes)

mixin tel-field(name, label, value, opts)
    +field(name, 'tel', label, value, opts)&attributes(attributes)

mixin url-field(name, label, value, opts)
    +field(name, 'url', label, value, opts)&attributes(attributes)

mixin file-field(name, label, value, opts)
    +field(name, 'file', label, value, opts)&attributes(attributes)

mixin time-field(name, label, value, opts)
    +field(name, 'time', label, value, opts)&attributes(attributes)

mixin checkbox-field(name, label, value)
    div.form-group
        div.checkbox
            label
                if(value && value !== "false")
                    input(type='checkbox',name=name,checked="checked")&attributes(attributes)
                else
                    input(type='checkbox',name=name)&attributes(attributes)
                =label

mixin hidden-field(name, value)
    input(type='hidden', name=name, value=value)&attributes(attributes)

mixin password-field(name, label, value, opts)
    +field(name, 'password', label)&attributes( opts ? opts.attributes : attributes)

mixin date-field(name, label, value, opts)
    div.form-group
        label= label
        - var attrs = _.extend(attributes || {}, (opts && opts.attributes) ? opts.attributes : {}, { rel: "date" });
        if typeof attrs == "object" && !Object.hasOwnProperty("placeholder")
            - attrs.placeholder = __("date-format-moment")
        +_field(name,"text",value)&attributes(attrs)
        input(type='hidden', name=newName + "-alt", value=value)

mixin datetime-field(name, label, value, opts)
    +date-field(name, label, value)&attributes(rel="datetime",attributes)

mixin enum-field(name, label, keyValues, value)
    div.form-group
        label= label
        select.form-control(name=name)&attributes(attributes)
            each val, key in keyValues
                if(key == value)
                    option(value=key,selected='selected')= val
                else
                    option(value=key)= val

mixin _foreign-field(name, label, items, value, opts)
    select.form-control(name=name)&attributes(attributes)
        unless opts && opts.hideNone
            option(value=0)= "<"+__("None")+">"
        each item in items
            -var id = (opts && opts.idField ? item[opts.idField] : item.id)
            -var name = (opts && opts.composeName ? opts.composeName(item) : item.name)
            if(id == value)
                option(value=id,selected='selected')= name
            else
                option(value=id)= name

mixin foreign-field(name, label, items, value, opts)
    - var attrs = _.extend(attributes || {}, (opts && opts.attributes) ? opts.attributes : {});
    div.form-group
        label= label
        if opts && opts.inputGroup
            div.input-group
                +_foreign-field(name, label, items, value, opts)&attributes(attributes)
                - var groupType = opts.inputGroup.type || "button"
                if groupType == "button"
                    span.input-group-btn
                        button.btn.btn-default(type="button",title=__(opts.inputGroup.title))
                            +glyph(opts.inputGroup.glyph)
        else
            +_foreign-field(name, label, items, value, opts)&attributes(attributes)

mixin _foreign-grouped-field(name, label, items, value, opts)
    select.form-control(name=name)&attributes(attributes)
        unless opts && opts.hideNone
            optgroup(label="<"+__("None")+">")
                option(value=0)= "<"+__("None")+">"
        - var grouped = _.groupBy(items, opts.groupBy);
        - var composeName = function( item ) { return opts && opts.composeName ? opts.composeName(item) : item.name };
        each groupName in opts.unsortedGroups ? _.keys(grouped) : _.keys(grouped).sort()
            optgroup(label=groupName)
                each item in _.sortBy( grouped[groupName], function( item ) { return composeName( item ).toLowerCase(); } )
                    -var id = (opts && opts.idField ? item[opts.idField] : item.id)
                    -var name = composeName( item )
                    if(id == value)
                        option(value=id,selected='selected')= name
                    else
                        option(value=id)= name

mixin foreign-grouped-field(name, label, items, value, opts)
    - var attrs = _.extend(attributes || {}, (opts && opts.attributes) ? opts.attributes : {});
    div.form-group
        label= label
        if opts && opts.inputGroup
            div.input-group
                +_foreign-grouped-field(name, label, items, value, opts)&attributes(attrs)
        else
            +_foreign-grouped-field(name, label, items, value, opts)&attributes(attrs)

mixin textarea-field(name, label, value) 
    div.form-group
        label= label
        textarea.form-control(name=name,rows='3')&attributes(attributes)= value


mixin textarea(name, label)
    +textarea-field(name, label, "")&attributes(attributes)

mixin modal(id,title,saveCaption)
    div.modal.fade(id=id)
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button.close(data-dismiss='modal',type='button',aria-hidden='true')
                        | &times;
                    h4.modal-title= title
                div.modal-body
                    block
                div.modal-footer
                    button.btn.btn-default(data-dismiss='modal',type='button') Schließen
                    if saveCaption
                        button.btn.btn-primary(type='button')= saveCaption

mixin modal-add-edit(id,title)
    - var newId = id + '-add', newTitle = title + ' hinzufügen';
    +modal(newId, newTitle, 'Hinzufügen')
        block
    - newId = id + '-edit'; newTitle = title + ' editieren';
    +modal(newId, newTitle, 'Änderung speichern')
        block

mixin glyph(icon, classes)
    - if( classes ) classes = ' ' + classes; else classes = '';
    i.glyphicon.glyphicon(class="glyphicon-#{icon}#{classes}")&attributes(attributes)

mixin fa(icon, classes)
    - if( classes ) classes = ' ' + classes; else classes = '';
    i.fa(class="fa-#{icon}#{classes}")&attributes(attributes)

mixin link(link, text)
    - if( !text ) text = link;
    a(href=link)= text

mixin elink(link, text)
    - if( !text ) text = link;
    a(href=link,target="_blank")&attributes(attributes)= text

mixin messages(messages)
    each message in messages || []
        - var classes = "alert alert-" + ( message.type || "danger" );
        div(class=classes,role="alert")&attributes(message.attributes || {})
            strong= message.title || __("Error") + ":"
            | 
            = message.text || ""

mixin dropMenu(id)
    ul.dropdown-menu(style="display:none",id=id)
        block

mixin dropMenuItem(action, glyph, text)
    li&attributes(attributes)
        a(href="#",data-action=action)
            +glyph(glyph)
            |  
            = __(text)

mixin dropMenuLink(link, glyph, text)
    li
        a(href=link,target="_blank")
            +glyph(glyph)
            |  
            = __(text)

mixin dropMenuDivider()
    li.divider
