- var scriptSources = [];
- var styleSources = [];

// add script to required script stack
mixin script(src)
    - scriptSources.push( src );

// include every required script exactly once
mixin scripts()
    - var usedScripts = []
    each scriptSource in scriptSources
        if usedScripts.indexOf( scriptSource ) == -1
            - usedScripts.push( scriptSource )
            script(type='text/javascript',src='#{scriptSource}')

mixin style(href)
    - styleSources.push( href );

mixin styles()
    - var usedStyles = []
    each styleSource in styleSources
        if usedStyles.indexOf( styleSource ) == -1
            - usedStyles.push( styleSource );
            link(rel='stylesheet', type='text/css' href='#{styleSource}')

mixin field(name,type,label,value)
    div.form-group
        label= label
        input.form-control(type=type,name=name,value=value)

mixin text-field(name, label, value)
    +field(name, 'text', label, value)

mixin hidden-field(name, value)
    input(type='hidden', name=name, value=value)

mixin password-field(name, label)
    +field(name, 'password', label)

mixin date-field(name, label)
    div.form-group
        label= label
        input.form-control(type='text', rel='date',name=name)
        - var newName = name + '-alt';
        input(type='hidden', name=newName)

mixin enum-field(name, label, keyValues)
    div.form-group
        label= label
        select.form-control(name=name)
            each val, key in keyValues
                option(value=key)= val

mixin textarea(name, label)
    div.form-group
        label= label
        textarea.form-control(name=name,rows='3')
            

mixin modal(id,title,saveCaption)
    div.modal.fade(id=id)
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button.close(data-dismiss='modal',type='button',aria-hidden='true')
                        | &times;
                    h4.modal-title= title
                div.modal-body
                    block
                div.modal-footer
                    button.btn.btn-default(data-dismiss='modal',type='button') Schließen
                    button.btn.btn-primary(type='button')= saveCaption

mixin modal-add-edit(id,title)
    - var newId = id + '-add', newTitle = title + ' hinzufügen';
    +modal(newId, newTitle, 'Hinzufügen')
        block
    - newId = id + '-edit'; newTitle = title + ' editieren';
    +modal(newId, newTitle, 'Änderung speichern')
        block

mixin glyph(icon)
            i.glyphicon.glyphicon(class="glyphicon-#{icon}")

mixin messages(messages)
    each message in messages || []
        - var classes = "alert alert-" + ( message.type || "danger" );
        div(class=classes,role="alert")
            strong= message.title || __("Error") + ":"
            | 
            = message.text || ""

