extends admin-site

//- TODO: merge with media and move to mixins or a separete file.jade
mixin directory(subTree, dirName)
    li.directory(data-prefix=subTree.prefix,data-dirname=dirName)
        +glyph("folder-open")
        = " " + dirName
        //- button.btn.btn-primary.btn-xs(type="button",data-action="new-folder",title=__("New folder"))
        //-    +glyph("folder-close")
        form.form-inline(method="post",action=subTree.prefix + "/" + dirName)
            input(type="text",name="name",placeholder=__("New name"))
            button.btn.btn-primary.btn-xs(type="submit",name="create-dir",title=__("New Folder"))
                +glyph("plus")
                |  
                +glyph("folder-close")
            button.btn.btn-primary.btn-xs(type="submit",name="create-file",title=__("New file"))
                +glyph("plus")
                |  
                +glyph("file")
            button.btn.btn-default.btn-xs(type="submit",name="delete-dir",title=__("Delete folder"))
                +glyph("trash")
        ul
            +dirTreeWalker( subTree )

mixin dirTree(tree)
    ul.filetree&attributes(attributes)
        +dirTreeWalker(tree)

mixin dirTreeWalker(tree)
    each subTree, dirName in tree.dirs
        +directory(subTree, dirName)
    each file in tree.files
        li.file
            a(href=file.link)
                +glyph("file")
                = " " + file.name
            form.form-inline(method="post",action=file.link)
                button.btn.btn-default.btn-xs(type="submit",name="delete-file",title=__("Delete file"))
                    +glyph("trash")



block content
    h1= __("Editor")

    +messages( messages )

    +dirTree( tree )

    if showEditor
        h2=__("Edit")
            |  - 
            =filename
        form(method="post")
            +textarea-field("content", "Content", content )
            button(type="submit" name="save" value="yes").btn.btn-primary=__("Save")


    +modal("newFolderModal", __("New folder"), __("Create"))
        +text-field("name", __("Name"))

    +modal("uploadModal", __("Upload"), __("Upload"))
        input(type="file",name="file",multiple="multiple")

    div.hidden#directoryTemplate
        +directory({dirs:[],files:[],prefix:"{prefix}"},"{name}")
        
append styles
    +style-tag("/css/fileinput.min.css")

append scripts
    +script-tag("/js/fileinput.min.js")
    +script-tag("/js/media.js")
