extends admin-site

//- TODO: merge with media and move to mixins or a separete file.jade
mixin directory(subTree, dirName)
    li.directory(data-prefix=subTree.prefix,data-dirname=dirName)
        +glyph("folder-open")
        = " " + dirName
        //- button.btn.btn-primary.btn-xs(type="button",data-action="new-folder",title=__("New folder"))
        //-    +glyph("folder-close")
        form.form-inline(method="post",action=subTree.prefix + "/" + dirName)
            span.input-group
                input.form-control.input-xs(type="text",name="name",placeholder=__("New name"))
                span.input-group-btn
                    button.btn.btn-primary.btn-xs(type="submit",name="create-dir",title=__("New Folder"))
                        +glyph("plus")
                        |  
                        +glyph("folder-close")
                    button.btn.btn-primary.btn-xs(type="submit",name="create-file",title=__("New file"))
                        +glyph("plus")
                        |  
                        +glyph("file")
            button.btn.btn-default.btn-xs(type="submit",name="delete-dir",title=__("Delete folder"))
                +glyph("trash")
        ul
            +dirTreeWalker( subTree )

mixin dirTree(tree)
    ul.filetree&attributes(attributes)
        +dirTreeWalker(tree)

mixin dirTreeWalker(tree)
    each subTree, dirName in tree.dirs
        +directory(subTree, dirName)
    each file in tree.files
        li.file
            a(href=file.link)
                +glyph("file")
                = " " + file.name
            form.form-inline(method="post",action=file.link)
                button.btn.btn-default.btn-xs(type="submit",name="delete-file",title=__("Delete file"))
                    +glyph("trash")


block main-content
    div.container-fluid.main-content#editor-wrapper
        block content
            .row
                .col-lg-3.col-md-5
                    h1= __("Editor")
                    +dirTree( tree )

                if showEditor
                    div.col-lg-9.col-md-7
                        +messages( messages )
                        h2=__("Edit")
                            |  - 
                            =filename
                        form(method="post")
                            +textarea-field("content", "Content", content)( data-type=contentType )#editor-textarea
                            button(type="submit" name="save" value="yes").btn.btn-primary=__("Save")

append scripts
    +script-tag("/js/ace-min/ace.js")
    +script-tag("/js/editor.js")
