extends admin-site

mixin directory(subTree, dirName)
    li.directory(data-prefix=subTree.prefix,data-dirname=dirName)
        -var dirUrl = "/admin/media" + subTree.prefix + ( subTree.prefix == "/" ? "" : "/" ) + dirName;
        a(href=dirUrl)
            +glyph("folder-open")
            = " " + dirName
        form.form-inline(method="post",action=dirUrl)
            span.input-group
                input.form-control.input-xs(type="text",name="name",placeholder=__("New name"))
                span.input-group-btn
                    button.btn.btn-primary.btn-xs(type="submit",name="create-dir",title=__("New Folder"))
                        +glyph("plus")
                        |  
                        +glyph("folder-close")
            button.btn.btn-default.btn-xs(type="submit",name="delete-dir",title=__("Delete folder"))
                +glyph("trash")
        ul
            +dirTreeWalker( subTree )

mixin dirTree(tree)
    ul.filetree&attributes(attributes)
        li.directory
            a(href="/admin/media")
                +glyph("folder-open")
                |  /
            ul
                +dirTreeWalker(tree)

mixin dirTreeWalker(tree)
    each subTree, dirName in tree.dirs
        +directory(subTree, dirName)

mixin file(file)
        a(href=file.link).file
            form.form-inline(method="post")
                button.btn.btn-default.btn-xs(type="submit",name="delete-file",value=file.name,title=__("Delete folder"))
                    +glyph("trash")
            span.file-type
                if file.extension == ".pdf"
                    +fa("file-pdf-o")
                else if file.extension == ".txt"
                    +fa("file-text-o")
                else if _.contains( [ ".png", ".jpg", ".jpeg", ".gif", ".bmp" ], file.extension )
                    +fa("file-image-o")
                else
                    +fa("file-o")
            span.file-label
                = file.name


block main-content
    div.container-fluid.main-content#media-wrapper
        block content
            .row
                .col-lg-3.col-md-5
                    h1= __("Media")
                    +dirTree( tree )

                if showFiles || true
                    div.col-lg-9.col-md-7
                        +messages( messages )
                        h2= __("Content of")
                            |  
                            = currentPath
                        .file-container
                            each file in currentFiles
                                +file( file )

    +modal("newFolderModal", __("New folder"), __("Create"))
        +text-field("name", __("Name"))

    +modal("uploadModal", __("Upload"), __("Upload"))
        input(type="file",name="file",multiple="multiple")

    div.hidden#directoryTemplate
        +directory({dirs:[],files:[],prefix:"{prefix}"},"{name}")
        
append styles
    +style-tag("/css/fileinput.min.css")

append scripts
    +script-tag("/js/fileinput.min.js")
    +script-tag("/js/media.js")
