extends admin


block content
    h1 Navigation

    +messages( messages )

    div.row
        div.col-sm-4
            h2= __("Items")
            ul#links.list-group
                each item in items || []
                    li.list-group-item
                        = item.link
                        button.btn.btn-default(type='button').btn-xs.pull-right
                            +glyph("pencil")
        div.col-sm-8

            mixin navigationFields()
                +text-field("name", __("Name"))
                +text-field("link", __("Link"))
                +enum-field("type", __("Type"), {text: __("Text"), function: __("Function") })
                +text-field("target", __("Target"))

            form#add(method='post',role='form')
                h2= __("Add")
                +navigationFields
                button.btn.btn-primary(type='submit',name='add',value='yes')= __("Add")

            form#edit.hidden(method="post",role="form")
                h2= __("Change")
                +navigationFields
                button.btn.btn-primary(type='submit',name='update',value='yes')= __("Change")



