extends admin


block content
    h1 Navigation

    +messages( messages )

    div.row
        div.col-sm-4
            h2= __("Items")
            ul#links.list-group
                each item in items || []
                    li.list-group-item
                        = item.link
                        a.btn.btn-default(href='/admin/navigation/edit/#{item.escapedLink}').btn-xs.pull-right
                            +glyph("pencil")
        div.col-sm-8

            mixin navigationFields(values)
                - values = values || {}
                +text-field("name", __("Name"), values.name)
                +text-field("link", __("Link"), values.link)
                +enum-field("type", __("Type"), {text: __("Text"), function: __("Function") })
                +text-field("target", __("Target"), values.target)

            if values
                form#edit(method="post",role="form")
                    h2= __("Change")
                    +navigationFields(values)
                    button.btn.btn-primary(type='submit',name='update',value='yes')= __("Change")
            else
                form#add(method='post',role='form')
                    h2= __("Add")
                    +navigationFields
                    button.btn.btn-primary(type='submit',name='add',value='yes')= __("Add")




