extends admin


block content
    h1= __("Users")

    +messages( messages )

    div.row
        div.col-sm-4
            h2= __("Items")
            ul#links.list-group
                each item in items || []
                    li.list-group-item
                        = item.name
                        a.btn.btn-default(href='/admin/users/edit/#{item.id}').btn-xs.pull-right
                            +glyph("pencil")
                li.list-group-item
                    = __("New")
                    a.btn.btn-primary(href='/admin/users').btn-xs.pull-right
                        +glyph("plus")
        div.col-sm-8

            mixin userFields(values)
                - values = values || {}
                +text-field("name", __("Name"), values.name)
                +password-field('password', __("Password"))
                +password-field('password2', __("Confirm password"))
                +text-field("permissions", __("Permissions"), values.permissions)

            if values
                form#edit(method="post",role="form")
                    h2
                        = " " + __("Change")
                        +glyph("pencil", "pull-right")
                    +userFields(values)
                    button.btn.btn-primary(type='submit',name='update',value='yes')= __("Change")
                    button.btn.btn-danger.pull-right(type='submit',name='delete',value='#{values.link}')= __("Delete")
            else
                form#add(method='post',role='form')
                    h2
                        +glyph("plus", "pull-right")
                        = " " + __("Add")
                    +userFields
                    button.btn.btn-primary(type='submit',name='add',value='yes')= __("Add")




